<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <ProductLog_LogUpdate>
            <version>0.0.1</version>
        </ProductLog_LogUpdate>
    </modules>

    <!-- Configure our module's behavior in the global scope -->
    <global>

        <!-- Defining models -->
        <models>

            <!--
                Unique identifier in the model's node.
                By convention, we put the module's name in lowercase.
            -->
            <ProductLog_LogUpdate>

                <!--
                    The path to our models directory, with directory
                    separators replaced by underscores
                -->
                <class>ProductLog_LogUpdate_Model</class>

            </ProductLog_LogUpdate>

        </models>

        <events>
            <catalog_product_save_after>
                <observers>
                    <ProductLog_LogUpdate>
                        <class>ProductLog_LogUpdate/observer</class>
                        <method>logUpdate</method>
                        <type>singleton</type>
                    </ProductLog_LogUpdate>
                </observers>
            </catalog_product_save_after>
        </events>

    </global>

</config>