<?xml version="1.0"?>
<!--
/**
 * GIKO / LUOCHUNHUI.COM
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to LUOCHUNHUI/GIKO (OSL 3.0).
 * License, which extends the Open Software License (OSL 3.0).
 * The GIKO Extension License is available at this URL: 
 * http://magento.luochunhui.com/cms/magento_extension_license.html
 * The Open Software License is available at this URL: 
 * http://opensource.org/licenses/osl-3.0.php
 * 
 *
 * DISCLAIMER
 *
 * By adding to, editing, or in any way modifying this code, GIKO is 
 * not held liable for any inconsistencies or abnormalities in the 
 * behaviour of this code. 
 * By adding to, editing, or in any way modifying this code, the Licensee
 * terminates any agreement of support offered by GIKO, outlined in the 
 * provided GIKO Extension License. 
 * Upon discovery of modified code in the process of support, the Licensee 
 * is still held accountable for any and all billable time GIKO spent 
 * during the support process.
 * GIKO does not guarantee compatibility with any other framework extension. 
 * GIKO is not responsbile for any inconsistencies or abnormalities in the
 * behaviour of this code if caused by other framework extension.
 * If you did not receive a copy of the license, please send an email to 
 * wo@luochunhui.com, so we can send you a copy immediately.
 *
 * @category    Magemall
 * @copyright   Copyright (c) 2012 Luoc Chunhui<wo@luochunhui.com>. (http://www.luochunhui.com)
 * @license     http://magento.luochunhui.com/docs/index/copyright  Open Software License (OSL 3.0)
 * @author      Luo Chunhui <wo@luochunhui.com>
 */
-->
<config>
	<tabs>
        <magemall translate="label">
            <label>MageMall Extensions</label>
            <sort_order>9</sort_order>
        </magemall>
    </tabs>
    <sections>
         <ajaxlogin translate="label" module="ajaxlogin">
            <label>MageMall AjaxLogin</label>
            <tab>magemall</tab>
            <sort_order>100</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings translate="label" module="ajaxlogin">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>200</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <name translate="label">
                            <label>Settings</label>
                        </name>
                        <enable translate="label">
                            <label>Enable</label>
                            <frontend_type>select</frontend_type>
              				<source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enable>
                    </fields>
                </settings>
            </groups>
        </ajaxlogin>
    </sections>
</config>
