.imagepreview {text-align: center;}
.imagepreview_image {}
.imagepreview_panel {
    bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 180px;
}
#imagepreview_container { width: 100%; }
#imagepreview_content {
	border: 1px solid GhostWhite;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 6px #000; /* Firefox */
  	-webkit-box-shadow: 0 0 6px #000; /* Safari, Chrome */
  	box-shadow: 0 0 6px #000; /* CSS3 */
	margin: 0 auto;
	left: 0;
	right: 0;
	position: absolute;
	top: 40px;
	background-color: white;
	width: 700px;
	height: 200px;
	z-index: 300;
	text-align: center;
}

#imagepreview_image {
	margin-top: 20px;
}

#imagepreview_background {
	position: fixed;
	top: 0;
	left: 0;
	background: url('../../images/imagepreview/10x10_tr.png') repeat ;
	z-index: 299;
	height: 100%;
	width: 100%;
	display: block;
}

#imagepreview_navigator {
	margin: 0 auto;
	width: 300px;
	position: absolute;
	bottom: 10px;
	left: 0;
	right: 0;
}

#imagepreview_navigator div {
	margin: 6px;
	height: 32px;
	float: left;
}

#imagepreview_navibutton_first {
	background-image: url('../../images/imagepreview/arrow_undo-32.png');
	width: 32px;
}
#imagepreview_navibutton_first:HOVER {
	background-image: url('../../images/imagepreview/arrow_undo-32_hover.png');
}
#imagepreview_navibutton_previous {
	background-image: url('../../images/imagepreview/arrow_left-32.png');
	width: 32px;
}
#imagepreview_navibutton_previous:HOVER {
	background-image: url('../../images/imagepreview/arrow_left-32_hover.png');
}
#imagepreview_navibutton_next {
	background-image: url('../../images/imagepreview/arrow_right-32.png');
	width: 32px;
}
#imagepreview_navibutton_next:HOVER {
	background-image: url('../../images/imagepreview/arrow_right-32_hover.png');
}
#imagepreview_navibutton_last {
	background-image: url('../../images/imagepreview/arrow_redo-32.png');
	width: 32px;
}
#imagepreview_navibutton_last:HOVER {
	background-image: url('../../images/imagepreview/arrow_redo-32_hover.png');
}
#imagepreview_imagenums {
	background-image: url('../../images/imagepreview/navinum_border.png');
	background-repeat: no-repeat;
	padding-top: 2px;
	font-family: sans-serif;
	font-size: 19px;
	width: 64px;
	
}

#imagepreview_content_close {
	display: block;
	width: 22px;
	height: 22px;
	background: url('../../images/imagepreview/window_close.png');
	position: absolute;
	top: -11px;
	right: -11px;
	z-index: 600;
}