<?xml version="1.0"?>
<config>
    <modules>
        <Exogento_ImagePreview>
            <version>0.1.0</version>
        </Exogento_ImagePreview>
    </modules>
    <global>
        <blocks>
            <imagepreview><class>Exogento_ImagePreview_Block</class></imagepreview>
        </blocks>
        <helpers>
			<imagepreview>
				<class>Exogento_ImagePreview_Helper</class>
			</imagepreview>
	  	</helpers>
    </global>
    <frontend>
    	<layout>
		    <updates>
		         <imagepreview>
		         	<file>imagepreview.xml</file>
		         </imagepreview>
		    </updates>
		</layout>
	</frontend>
</config>
