<?xml version="1.0"?>

<config>
    <modules>
        <MyModule_LogProductUpdate>
            <version>0.1.0</version>
        </MyModule_LogProductUpdate>
    </modules>
    <global>
		<models>
		    <mymodule_logproductupdate>
				<class>MyModule_LogProductUpdate_Model</class>
		    </mymodule_logproductupdate>
		</models>    
		<events>
		    <catalog_product_save_after>
				<observers>
				    <mymodule_logproductupdate>
						<class>mymodule_logproductupdate/observer</class>
						<method>logUpdate</method>
						<type>singleton</type>
				    </mymodule_logproductupdate>
				</observers>
	 	    </catalog_product_save_after>	
		</events>
    </global>
</config>